.main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.contact-section {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(173, 123, 123, 0.2);
  width: 100%;
  margin: 30px 0px;
}

.contact-section form {
  display: flex;
  justify-content: center;
  width: 40%;
  min-height: 630px;
}

.contact-section form ul {
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
}

.contact-section form ul li {
  list-style: none;
}

.contact-section form textarea {
  width: 80%;
  min-height: 250px;
  padding: 10px 10px;
  border-radius: 6px;
}

.contact-section form button {
  margin-top: 15px;
}

.contact-section h1 {
  margin-top: 25px;
}

.contact-text {
  text-align: center;
  margin: 40px 50px;
}

.contact-section img {
  width: 55%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.contact-columns {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.contact-columns form button {
  width: 80%;
}

/* Media queries mobile */

@media screen and (max-width: 576px) {
  .contact-columns {
    display: unset;
  }

  .contact-columns form .button {
    width: 80%;
  }

  .contact-section {
    border-radius: unset;
    box-shadow: unset;
    margin: 0;
  }

  .contact-section form {
    width: 100%;
  }

  .contact-section img {
    margin: 20px 0px;
    width: 80%;
    justify-content: center;
  }

  .contact-text {
    margin: 25px;
  }
}
